
    <section id="about">
        <div class="container text-center">
            <p class="h1 mt-5">ABOUT</p>
            <p class="h5 mt-3 mb-5">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-5 text-right ">
                    <p class="h3">2009-2011</p>
                    <p class="h3">Our Humble Beginnings</p>
                        <p class="text-muted">Lorem ipsum dolor sit, amet consectetur<br>
                        adipisicing elit. Repellat vel impedit unde error<br>
                        dolores saepe temporibus quia fuga eligendi incidunt!</p>
                </div>
                <div class="col-2">
                    <img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="first timeline">
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-5">
                </div>
                <div class="col-2">
                    <img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="first timeline">
                </div>
                <div class="col-5 text-left ">
                    <p class="h3">March 2011</p>
                    <p class="h3">An Agency Is Born</p>
                        <p class="text-muted">Lorem ipsum dolor sit, amet consectetur<br>
                        adipisicing elit. Repellat vel impedit unde error<br>
                        dolores saepe temporibus quia fuga eligendi incidunt!</p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-5 text-right ">
                    <p class="h3">December 2015</p>
                    <p class="h3">Transition to Full Service</p>
                        <p class="text-muted">Lorem ipsum dolor sit, amet consectetur<br>
                        adipisicing elit. Repellat vel impedit unde error<br>
                        dolores saepe temporibus quia fuga eligendi incidunt!</p>
                </div>
                <div class="col-2">
                    <img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="first timeline">
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-5">
                </div>
                <div class="col-2">
                    <img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="first timeline">
                </div>
                <div class="col-5 text-left ">
                    <p class="h3">July 2020</p>
                    <p class="h3">Phase Two Expansion</p>
                        <p class="text-muted">Lorem ipsum dolor sit, amet consectetur<br>
                        adipisicing elit. Repellat vel impedit unde error<br>
                        dolores saepe temporibus quia fuga eligendi incidunt!</p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-5">
                </div>
                <div class="col-2">
                    <img class="rounded-circle img-fluid" src="assets/img/about/5.png" alt="first timeline">
                </div>
            </div>
            
        </div>
        
    </section>

    
