<section id="brand">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="#!"><img class="img-fluid img-brand d-block " src="assets/img/logos/microsoft.svg" alt="..." /></a>
            </div>
            <div class="col-3">
                <a href="#!"><img class="img-fluid img-brand d-block " src="assets/img/logos/google.svg" alt="..." /></a>
            </div>
            <div class="col-3">
                <a href="#!"><img class="img-fluid img-brand d-block " src="assets/img/logos/facebook.svg" alt="..." /></a>
            </div>
            <div class="col-3">
                <a href="#!"><img class="img-fluid img-brand d-block " src="assets/img/logos/ibm.svg" alt="..." /></a>
            </div>
        </div>
    </div>
</section>