<section id="team mt-5">
    <div class="container">
        <p class="h1 text-center"> OUR AMAZING TEAM</p>
        <p class="text-muted text-center">Lorem ipsum dolor sit amet.</p>
        <div class="row mb-5">
            <div class="col-4 text-center">
                <img class="mx-auto rounded-circle img-fluid profile" src="assets/img/team/1.jpg" alt="Parveen" />
                <p class="h3 mt-3">Parveen Anand</p>
                <p class="text-muted">Lead Designer</p>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-4 text-center">
                <img class="mx-auto rounded-circle img-fluid profile" src="assets/img/team/2.jpg" alt="Parveen" />
                <p class="h3 mt-3">Diana Petersen</p>
                <p class="text-muted">Lead Marketer</p>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-4 text-center">
                <img class="mx-auto rounded-circle img-fluid profile" src="assets/img/team/3.jpg" alt="Parveen" />
                <p class="h3 mt-3">Larry Parker</p>
                <p class="text-muted">Lead Developer</p>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <p class="text-muted text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti nobis<br>
            voluptate quia omnis aperiam amet possimus ipsa, sunt consequatur eius.</p>
    </div>
    
</section>